@import "../variables";

.project-containter-padding {
  padding-top: 15vh;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  color: $white !important;
  background: linear-gradient(135deg, #000000 0%, #ffffff 100%);
  padding-top: 2vh;
  border: 1px $yellow solid;
  border-radius: 1%;
  margin-left: 2vw;
  margin-top: 5vh;
  width: auto;
  height: 40vh;
  font-family: "Share Tech Mono", monospace;

  .project-title {
    position: absolute;
    width: auto;
    font-size: 2vh;
    padding-bottom: 5vh;

  }

  .project-details {
    width: auto;
    padding-top: 6vh;
    position: absolute;
  }

  .project-tags {
    position: absolute;
    padding-top: 15vh;
  }

  .project-design {
    position: absolute;
    bottom: 10vh;
    left: 28%;
  }

  .project-code {
    position: absolute;
    left: 28%;

    //Mobile
    @media only screen and (max-width: 600px) {
      bottom: 2vh;
    }
    //Desktop
    @media only screen and (min-width: 600px) {
      bottom: 5vh;
    }
  }

  //Mobile
  @media only screen and (max-width: 600px) {
    button {
      width: 30vw;
    }
  }
  //Desktop
  @media only screen and (min-width: 600px) {
    button {
      width: 7vw;
    }
  }
  //override
  .btn-outline-dark {
    background: rgb(0, 0, 0, 0.4);
    color: $white;
    border: 1px $yellow solid;
  }

}

.modal-button-exit {
  position: fixed;
  top: 15px;
  right: 40px;
}

.model-exit-icon {
  color: red;
  width: 15px;
  height: 15px;
  z-index: 1050;
}

.project-more {
  color: $white;
  margin-top: 4vh;
  font-size: $font-size-info-small;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}

.project-info-details {
  margin-top: 8vh;
  z-index: -1;
  height: 60vh;
  width: auto;
  background: rgb(2, 0, 36);
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  background: linear-gradient(135deg, #E3E3E3 0%, #5D6874 100%);

  .project-info-details-text {
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    padding-top: 24vh;
    color: $black;
    font-size: 4vh;
  }

}

.details-button {
  color: $yellow;
}
