//Body background
$body-bg:#000000;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-share-tech-mono: 'Share Tech Mono', monospace;
$font-size-base-landing: 8vh;
$font-size-info-big:6vh;
$font-size-info-small:2vh;
$line-height-base: 1.6;

// Colors
$white: rgb(255, 255, 255);
$black: #000000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffeb00;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
