@import 'variables';

.footer {
  font-size: $font-size-info-small;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  position: relative;
  padding-top: 20vh;
  height: 50vh;
  width: auto;
  color: $white;


  .footer-menu {
    margin-top: 4vh;
    padding-top: 2vh;
    height: 8vh;
    width: auto;
    border-top: 2px $yellow solid;

  }

  .madewithlove {
    margin-top: 2vh;
    border-top: 2px $yellow solid;
    font-size: $font-size-info-small;
    padding-top: 4vh;
  }

  //link override
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .resumeButton {
    font-size: $font-size-info-small;
    border: 2px solid $yellow;
  }

  .resumeButton:hover {
    color: $black !important;
    background-color: $yellow;
  }


}