@import 'variables';

.footer {
  font-size: $font-size-info-small;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  position: relative;
  padding-top: 20vh;
  height: 50vh;
  width: auto;


  .footer-menu {
    color: $white;

  }
  .soc-media {
    margin-top: 2vh;
    padding-top: 2vh;
    height: 8vh;
    width: auto;
    border-top: 2px $yellow solid;
    border-bottom: 2px $yellow solid;
  }
  .madewithlove {
    font-size: $font-size-info-small;
    padding-top: 2vh;
  }
  //link override
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration:none;
    color: inherit;
  }

}