@import "variables";

.land-page {
  width: 100vw;
  z-index: -1;
  font-family: "Share Tech Mono", monospace;
  padding-top: 30vh;
  color: $black;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  background-size: cover;
  opacity: 0.9;

  .header {
    z-index: 10;
    font-size: $font-size-base-landing;
  }
  .quate {
    font-size: $font-size-info-small;
  }

}